Repository equinor/chat-copilot, pull requests merged in 2023-11, with the labels that each got.

#5 Update appsettings.json
  webapi/appsettings.json
Labels: webapi

#7 Feature/adme plugin
  .editorconfig
  .github/workflows/copilot-deploy-pipeline.yml
  .gitignore
  plugins/adme/ADME.sln
  plugins/adme/ADME/ADME.csproj
  plugins/adme/ADME/Attributes/FacetNameAttribute.cs
  plugins/adme/ADME/Attributes/FacetSortAttribute.cs
  plugins/adme/ADME/Attributes/SearchResultIncludeAttribute.cs
  plugins/adme/ADME/Controllers/AiPluginController.cs
  plugins/adme/ADME/Controllers/SearchController.cs
  plugins/adme/ADME/Helpers/AiPluginSettings.cs
  plugins/adme/ADME/Helpers/CognitiveSearchExtensions.cs
  plugins/adme/ADME/Helpers/ConfigureSwaggerOptions.cs
  plugins/adme/ADME/Helpers/WebApplicationExtension.cs
  plugins/adme/ADME/Models/FacetData.cs
  plugins/adme/ADME/Models/OpenAiConfig.cs
  plugins/adme/ADME/Models/SearchData.cs
  plugins/adme/ADME/Models/SearchFilters.cs
  plugins/adme/ADME/Models/SearchResult.cs
  plugins/adme/ADME/Program.cs
  plugins/adme/ADME/Services/CognitiveSearchService.cs
  plugins/adme/ADME/Services/Interfaces/ICognitiveSearchService.cs
  plugins/adme/ADME/appsettings.json
  plugins/adme/ADME/logo.png
  plugins/adme/ADME/openapi_ai.json
  scripts/deploy/deploy-azure.sh
  scripts/deploy/main.bicep
  webapi/appsettings.json
Labels: webapi, deployment, github actions

#8 Feature/adme plugin
  .github/workflows/copilot-deploy-pipeline.yml
  scripts/deploy/deploy-plugins.sh
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: deployment, github actions

#10 Moved integration tests in deploy pipeline
  .github/workflows/copilot-deploy-pipeline.yml
Labels: github actions

#11 Commented out unused infra
  scripts/deploy/main.bicep
Labels: deployment

#13 Removed keys in plugin config
  scripts/deploy/main.bicep
Labels: deployment

#17 Feature/adme plugin
  plugins/adme/ADME/ADME.csproj
  plugins/adme/ADME/Program.cs
  scripts/deploy/main.bicep
Labels: deployment
